.agendar-cita {
  margin-bottom: 20px;
}

.input-full {
  width: 100vw;
  padding: 10px;
  border: 1px solid #ccc;
  display: block;
  margin: 0;
  box-sizing: border-box;
}

.linea-full {
  width: 100vw;
  height: 1px;
  background-color: #aaa;
  border: none;
  margin: 0;
}